@model ProjetoLojaVitrine.ViewsModel.ProCatCarrListView


@Html.Partial("_Carrousel", Model.BuscarCarrousel)<br />

@Html.Partial("_BotoesProdutosInicial")<br />


@*<div class="col-md-3">
        @Html.Partial("_MenuLateralCategoria")
    </div>*@
@foreach (var produto in Model.BuscarProduto)
{
    @Html.Partial("_DetalheVitrine", produto)
}
<br />

