
@{
    Layout = null;
}

<style>
    .glyphicon {
        font-size: 4em;
    }

    .container-fluid{
       
    }
</style>

<div class="container-fluid">
    <section id="sobre">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                @*<span class="glyphicon glyphicon-ok text-primary"></span>*@

                <a href="">
                    <img border="0" alt="W3Schools" src="~/images/Tabacaria.png" width="100" height="100">
                </a>

                <h3>Tabacaria e Jogos</h3>
                <p class="text-muted">Oferecemos grande quantidade de itens em nossa linha de tabacaria</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                @*<span class="glyphicon glyphicon-plane text-primary"></span>*@

                <a href="">
                    <img border="0" alt="W3Schools" src="~/images/sexshop.png" width="100" height="100">
                </a>

                <h3>Sexshop e Fantasias</h3>
                <p class="text-muted">Aqui você encontra uma completa linha de produtos eróticos e sensuais.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                @*<span class="glyphicon glyphicon-phone text-primary"></span>*@

                <a href="">
                    <img border="0" alt="W3Schools" src="~/images/indiana.jpg" width="100" height="100">
                </a>

                <h3>Confecções Indianas</h3>
                <p class="text-muted">Roupas, Batas, Camisetas, Decorações, Brincos e muito Mais.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                @*<span class="glyphicon glyphicon-heart text-primary"></span>*@

                <a href="">
                    <img border="0" alt="W3Schools" src="~/images/bijuterias.jpg" width="100" height="100">
                </a>

                <h3>Bujuterias</h3>
                <p class="text-muted">As melhores bijuterias você encontra aqui, confira toda variedade de anéis, brincos, pulseiras, colares e outros!</p>
            </div>
        </div>
    </section>
</div>